:root {
    --teal: #031634;
}

h1 { text-decoration : underline  blue wavy 10px; 
    text-transform: captalize; 
    letter-spacing: 2px; 
    word-spacing: 2px; 
    line-height: 100;
    background-color: var(--teal);
 }