
.container {
    display: grid;
    grid-gap: 10px;
    width: 75vw;
    padding: 10px;
    grid-template-columns:  repeat(6, 1fr);
    border: 2px solid black;
  }
  .box {
    display: flex ;
    justify-content: start;
    align-items: center;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 8px;
  }
  .box1 {
    background-color: black;
    color: white;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    
  }
  .box2 {
    background-color: darkgray;
    grid-column:  2 / span 1;
    grid-row: 2 / span 1;
  }
  .box3 {
    background-color: black;
    color: white;
    grid-column:  1 / span 1;
    grid-row: 1 / span 1;
  }
  .box4 {
    background-color: darkgray;
    grid-column:  2 / span 1;
    grid-row: 1 / span 1;
  }
  .box5 {
    background-color: black;
    color: white;
    grid-column:  3 / span 1;
    grid-row: 1 / span 1;
   
  }
  .box6 {
    background-color: darkgray;
    grid-column:  4 / span 1;
    grid-row: 1 / span 1;
  }
  .box7 {
    background-color: black;
    color: white;
    grid-column:  5 / span 1;
    grid-row: 1 / span 1;
    
  }
  .box8 {
    background-color: darkgray;
    grid-column:  6 / span 1;
    grid-row: 1 / span 1;
  }