body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .cube-container {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cube {
    position: relative;
    width: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
  }
  
  .cube .face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 255, 0.341);
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

  }
  
  .front  { transform: translateZ(100px); }
  .back   { transform: rotateY(180deg) translateZ(100px); }
  .left   { transform: rotateY(-90deg) translateZ(100px); }
  .right  { transform: rotateY(90deg) translateZ(100px); }
  .top    { transform: rotateX(90deg) translateZ(100px); }
  .bottom { transform: rotateX(-90deg) translateZ(100px); }
  
 
  